<div class="col-12">
    <div class="card">
        <h3 class="mt-4 px-3"><span>LISTA DE DISCOS </span> </h3>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Nro</th>
                        <th>Nombre</th>
                        <th>Artista</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-info" *ngFor="let disc of discs; let i=index">
                        <td scope="row">{{i+1}}</td>
                        <td>{{disc.name}}</td>
                        <td>{{disc.artist}}</td>
                        <td>
                            <button type="button" class="btn btn-sm btn-success" >Ver</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

